
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START CONTENT -->
<div id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>

        <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START -->
                    <h1 class="title">Support Center</h1>
                    <!-- PAGE HEADING TAG - END -->
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="~/Dashboard/Indexdashboard"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="~/UISupport/Index">Support</a>
                        </li>
                        <li class="active">
                            <strong>Help Center</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-lg-12 ">
            <section class="box nohidden has-border-left-3">
                <header class="panel_header">
                    <h2 class="title pull-left">Select a topic</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body" style="padding-bottom:0 !important">
                    <div class="row">
                        <div class="col-lg-4 no-pl no-pr">
                            <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                <div class="content">
                                    <img src="~/Content/data/icons/i1.png" class="center-block mb-20" style="max-width:64px" alt="">
                                    <h4>Account Security</h4>
                                    <p class="mt-10 text-center no-mb">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 no-pl no-pr">
                            <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                <div class="content">
                                    <img src="~/Content/data/icons/i2.png" class="center-block mb-20" style="max-width:64px" alt="">
                                    <h4>Exchange Fees</h4>
                                    <p class="mt-10 text-center no-mb">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 no-pl no-pr">
                            <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                <div class="content">
                                    <img src="~/Content/data/icons/i3.png" class="center-block mb-20" style="max-width:64px" alt="">
                                    <h4>Wallet Issues</h4>
                                    <p class="mt-10 text-center no-mb">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 no-pl no-pr">
                            <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                <div class="content">
                                    <img src="~/Content/data/icons/i4.png" class="center-block mb-20" style="max-width:64px" alt="">
                                    <h4>Global Payments</h4>
                                    <p class="mt-10 text-center no-mb">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 no-pl no-pr">
                            <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                <div class="content">
                                    <img src="~/Content/data/icons/i5.png" class="center-block mb-20" style="max-width:64px" alt="">
                                    <h4> Investment</h4>
                                    <p class="mt-10 text-center no-mb">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 no-pl no-pr">
                            <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                <div class="content">
                                    <img src="~/Content/data/icons/i6.png" class="center-block mb-20" style="max-width:64px" alt="">
                                    <h4>Next Bouns Stage</h4>
                                    <p class="mt-10 text-center no-mb">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-12">
            <section class="box has-border-left-3">
                <header class="panel_header">
                    <h2 class="title pull-left">FAQ</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="bold no-mt mb-20">Frequently asked questions</h4>

                            <!-- Bootstrap FAQ - START -->
                            <div class="panel-group no-mb faq-panels" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I use my affiliate link ?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How does the affiliate link work ?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How bif are the reward ?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What do you mean by a "Affiliate Ranking System" ?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What are the payment options?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseEight" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How do I rank up? Can I move down in rank?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseNine" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- bs faq end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="clearfix"></div>

        <div class="col-lg-6">
            <section class="box has-border-left-3">
                <div class="content-body" style="padding-top:30px">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="option-identity-wrapper no-mb">
                                <div class="tab-head" style="width:100%">
                                    <h4 class="bold mb-20 no-mt">Ask in the Forums</h4>
                                    <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias labo rum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error.</small></h4>

                                    <a href="#" class="btn btn-primary mt-10 btn-corner"><i class="fa fa-check"></i> Join Now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-6">
            <section class="box has-border-left-3">
                <div class="content-body" style="padding-top:30px">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="option-identity-wrapper no-mb">
                                <div class="tab-head" style="width:100%">
                                    <h4 class="bold mb-20 no-mt">Visit Our Blog</h4>
                                    <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias labo rum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error.</small></h4>

                                    <a href="#" class="btn btn-primary mt-10 btn-corner"><i class="fa fa-check"></i> Visit Now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- MAIN CONTENT AREA ENDS -->
    </section>
</div>
<!-- END CONTENT -->
