<div class="page-sidebar-wrapper" id="main-menu-wrapper">


    <ul class='wraplist'>
        <li class='menusection'>Main</li>
        <li class="open">
            <a href="~/Dashboard/Indexdashboard">
                <i class="fa fa-th-large"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="">
            <a href="~/Trading/IndexTrading">
                <i class="fa fa-bullseye"></i>
                <span class="title">Trading View</span>
            </a>
        </li>
        <li class="">
            <a href="~/ICODistributionAdmin/Index">
                <i class="fa fa-sitemap"></i>
                <span class="title">ICO Distribution Admin</span>
            </a>
        </li>
        <li class="">
            <a href="~/ICODistributionUser/Index">
                <i class="fa fa-user"></i>
                <span class="title">ICO Distribution User</span>
            </a>
        </li>
        <li class="">
            <a href="~/BuySell/Index">
                <i class="img">
                    <img src="~/Content/data/icons/coins.png" style="width:16px" alt="">
                </i>
                <span class="title">Buy & Sell Crypto</span>
            </a>
        </li>
        <li class="">
            <a href="~/PaymentGateways/Index">
                <i class="fa fa-credit-card"></i>
                <span class="title">Payment Gateways</span>
            </a>
        </li>
        <li class="">
            <a href="~/Affailiate/Index">
                <i class="fa fa-crosshairs"></i>
                <span class="title">Affailiate Program</span>
            </a>
        </li>
        <li class="">
            <a href="~/MyWallet/Index">
                <i class="img"><img src="~/Content/data/icons/wallet-o.png" style="width:16px" alt=""></i>
                <span class="title">My Wallet</span>
            </a>
        </li>
        <li class="">
            <a href="~/Security/Index">
                
                <i class="fa fa-lock"></i>
                <span class="title">Security</span>
            </a>
        </li>

        <li class="">
            <a href="javascript:;">
                <i class="fa fa-gear"></i>
                <span class="title">Settings</span>
                <i class="fas fa-chevron-left" style="margin-left: 6rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/Settings/GenaralSettings">General Settings</a>
                </li>
                <li>
                    <a class="" href="~/Accounts/Index">Account Confirmation</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-lock"></i>
                <span class="title">Access Pages</span>
                <i class="fas fa-chevron-left" style="margin-left: 6rem !important;"></i>            
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/UILogin/Index">Login</a>
                </li>
                <li>
                    <a class="" href="~/UILogin/Register">Registration</a>
                </li>
                <li>
                    <a class="" href="~/NotFound/Index">404</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-question-circle"></i>
                <span class="title">Support</span>
                <i class="fas fa-chevron-left" style="margin-left: 6rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/Faq/Index">FAQ</a>
                </li>
                <li>
                    <a class="" href="~/HelpCenter/Index">Help center</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-columns"></i>
                <span class="title">Layouts</span>
                <i class="fas fa-chevron-left" style="margin-left: 6rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/DefaultLayout/Index">Default Layout</a>
                </li>
                <li>
                    <a class="" href="~/CollapsedMenu/Index">Collapsed Menu</a>
                </li>
                <li>
                    <a class="" href="~/ChatOpen/Index">Chat Open</a>
                </li>
                <li>
                    <a class="" href="~/BoxedLayout/Index">Boxed Layout</a>
                </li>
                <li>
                    <a class="" href="~/BoxedCollapsedMenu/Index">Boxed Collapsed Menu</a>
                </li>
                <li>
                    <a class="" href="~/BoxedChatOpen/Index">Boxed Chat Open</a>
                </li>
            </ul>
        </li>
        <li class='menusection'>Applications</li>

        <li class="">
            <a href="javascript:;">
                <i class="fa fa-envelope"></i>
                <span class="title">Mailbox</span>
                <i class="fas fa-chevron-left" style="margin-left: 6rem !important;"></i>
                <span class="label label-accent">4</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/Inbox/Index">Inbox</a>
                </li>
                <li>
                    <a class="" href="~/Compose/Index">Compose</a>
                </li>
                <li>
                    <a class="" href="~/MailView/Index">View</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-comments"></i>
                <span class="title">Chat API</span>
                <i class="fas fa-chevron-left" style="margin-left: 5.6rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/ChatAPI/Index">Chat API</a>
                </li>
                <li>
                    <a class="" href="~/ChatWindows/Index">Chat Windows</a>
                </li>
            </ul>
        </li>

        <li class='menusection'>Data Visualization</li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-bar-chart"></i>
                <span class="title">Echarts</span>
                <i class="fas fa-chevron-left" style="margin-left: 6rem !important;"></i>
                <span class="label label-accent">HOT</span>
                <i class="fas fa-chevron-left"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/LineAndEreaChart/Index">Line & Area Charts</a>
                </li>
                <li>
                    <a class="" href="~/BarAndStackedChart/Index">Bar & Stacked Charts</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-area-chart"></i>
                <span class="title">Morris Charts</span>
                <i class="fas fa-chevron-left" style="margin-left: 3.6rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/LineChart/Index">Line Charts</a>
                </li>
                <li>
                    <a class="" href="~/BarAndStackedCharts/Index">Bar & Stacked Charts</a>
                </li>
                <li>
                    <a class="" href="~/AreaCharts/Index">Area Charts</a>
                </li>
                <li>
                    <a class="" href="~/PieCharts/Index">Pie Charts</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-line-chart"></i>
                <span class="title">Charts JS</span>
                <i class="fas fa-chevron-left" style="margin-left: 5.1rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/LineChartsJS/Index">Line Charts</a>
                </li>
                <li>
                    <a class="" href="~/BarChartsJS/Index">Bar Charts</a>
                </li>
                <li>
                    <a class="" href="~/PieAndDonutChartsJs/Index">Pie & Donut</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-bar-chart"></i>
                <span class="title">Flot Charts</span>
                <i class="fas fa-chevron-left" style="margin-left: 4.6rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/FlotChartsArea/Index">Area Charts</a>
                </li>
                <li>
                    <a class="" href="~/FlotChartsLine/Index">Line Charts</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-line-chart"></i>
                <span class="title">Sparkline Charts</span>
                <i class="fas fa-chevron-left" style="margin-left: 2.5rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/SparklineChartLineAndArea/Index">Line & Area Charts</a>
                </li>
                <li>
                    <a class="" href="~/SparklineChartsBar/Index">Bar Charts</a>
                </li>
                <li>
                    <a class="" href="~/SparklineChartComposite/Index">Composite Charts</a>
                </li>
            </ul>
        </li>

        <li class='menusection'>User Interface</li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-folder-open"></i> <span class="title">Ui Elements</span>
                <i class="fas fa-chevron-left" style="margin-left: 4.3rem !important;"></i>

            </a>
            <ul class="sub-menu">


                <li class="">
                    <a href="javascript:;"><span class="title">Timeline</span> <span class="arrow "></span> </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="" href="~/CenteredTimeline/Index">Centered timeline</a>
                        </li>
                        <li>
                            <a class="" href="~/LeftTimeline/Index">Left Aligned timeline</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;"><span class="title">Pricing Tables</span> <span class="arrow "></span> </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="" href="~/ExpandedTable/Index">Expanded</a>
                        </li>
                        <li>
                            <a class="" href="~/NarrowTable/Index">Narrow</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;"><span class="title">Icon Sets</span> <span class="arrow "></span> </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="" href="~/IconStyles/Index">Icon Styles</a>
                        </li>
                        <li>
                            <a class="" href="~/FontAwesome/Index">Font Awesome</a>
                        </li>
                        <li>
                            <a class="" href="~/Glyphicons/Index">Glyph Icons</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><span class="title">Form Elements</span> <span class="arrow "></span> </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="" href="~/FieldElements/Index">Field Elements</a>
                        </li>
                        <li>
                            <a class="" href="~/PremadeForm/Index">Pre Made Forms</a>
                        </li>
                        <li>
                            <a class="" href="~/CheckedboxAndRadio/Index">Checkbox & Radio</a>
                        </li>
                        <li>
                            <a class="" href="~/FormGrid/Index">Form Grid</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/FormWizard/Index"> <span class="title">Form Wizard</span> </a>
                </li>
                <li>
                    <a href="~/FormValidation/Index"> <span class="title">Form Validations</span> </a>
                </li>

            </ul>
        </li>

        <li class="">
            <a href="javascript:;">
                <i class="fa fa-puzzle-piece"></i>
                <span class="title">Components</span>
                <i class="fas fa-chevron-left" style="margin-left: 4rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/Tabs/Index">Tabs</a>
                </li>
                <li>
                    <a class="" href="~/Accordions/Index">Accordions</a>
                </li>
                <li>
                    <a class="" href="~/ProgressBars/Index">Progress Bars</a>
                </li>
                <li>
                    <a class="" href="~/Buttons/Index">Buttons</a>
                </li>
                <li>
                    <a class="" href="~/Modals/Index">Modals</a>
                </li>
                <li>
                    <a class="" href="~/Alerts/Index">Alerts</a>
                </li>
                <li>
                    <a class="" href="~/Notifications/Index">Notifications</a>
                </li>
                <li>
                    <a class="" href="~/Tooltips/Index">Tooltips</a>
                </li>
                <li>
                    <a class="" href="~/Popovers/Index">Popovers</a>
                </li>
                <li>
                    <a class="" href="~/NavBar/Index">Navbars</a>
                </li>
                <li>
                    <a class="" href="~/Dropdown/Index">Dropdowns</a>
                </li>
                <li>
                    <a class="" href="~/Breadcrumbs/Index">Breadcrumbs</a>
                </li>
                <li>
                    <a class="" href="~/Pagination/Index">Pagination</a>
                </li>
                <li>
                    <a class="" href="~/LabelsAndBages/Index">Labels & Badges</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="javascript:;">
                <i class="fa fa-th-large"></i>
                <span class="title">Appearance</span>
                <i class="fas fa-chevron-left" style="margin-left: 4.4rem !important;"></i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="" href="~/Typographys/Index">Typography</a>
                </li>
                <li>
                    <a class="" href="~/Grids/Index">Grids</a>
                </li>
                <li>
                    <a class="" href="~/DragPanels/Index">Draggable Panels</a>
                </li>
                <li>
                    <a class="" href="~/GroupList/Index">Group Listing</a>
                </li>
            </ul>
        </li>

    </ul>

</div>

