
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START CONTENT -->
<section id="main-content" class=" ">
    <div class="wrapper main-wrapper row" style=''>

        <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START -->
                    <h1 class="title">Retina Icons</h1>
                    <!-- PAGE HEADING TAG - END -->
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="~/Dashboard/Indexdashboard"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="~/IconStyles/Index">Ui Components</a>
                        </li>
                        <li>
                            <a href="~/IconStyles/Index">Icon Sets</a>
                        </li>
                        <li class="active">
                            <strong>Icon Styles</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Icon Sizes</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row uiicons">
                        <div class="col-xs-12">
                            <i class='fa fa-rocket icon-xs icon-rounded icon-primary inviewport animated animated-delay-400ms' data-vp-add-class='visible rollIn'></i>
                            <i class='fa fa-rocket icon-sm icon-rounded icon-primary inviewport animated animated-delay-600ms' data-vp-add-class='visible rollIn'></i>
                            <i class='fa fa-rocket icon-md icon-rounded icon-primary inviewport animated animated-delay-800ms' data-vp-add-class='visible rollIn'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-primary inviewport animated animated-delay-1000ms' data-vp-add-class='visible rollIn'></i>
                            <i class='fa fa-rocket icon-xlg icon-rounded icon-primary inviewport animated animated-delay-1200ms' data-vp-add-class='visible rollIn'></i>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Icon Colors</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row uiicons">
                        <div class="col-xs-12">
                            <i class='fa fa-rocket icon-xlg icon-default animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-purple animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-primary animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-accent animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-secondary animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-success animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-danger animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-warning animated fadeIn '></i>
                            <i class='fa fa-rocket icon-xlg icon-info animated fadeIn '></i>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Icon Styles</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row uiicons">
                        <div class="col-xs-12">

                            <i class='fa fa-rocket icon-lg icon-rounded icon-primary animated fadeIn '></i>
                            <i class='fa fa-rocket icon-lg icon-cornered icon-primary animated fadeIn '></i>
                            <i class='fa fa-rocket icon-lg icon-square icon-primary animated fadeIn '></i>
                            <i class='fa fa-rocket icon-lg icon-bordered icon-primary animated fadeIn '></i>
                            <i class='fa fa-rocket icon-lg icon-primary animated fadeIn '></i>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Icon Animations</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row uiicons">
                        <div class="col-xs-12">
                            <i class='fa fa-rocket icon-lg icon-rounded icon-purple inviewport animated  animated-delay-400ms animated-duration-1400ms' data-vp-add-class='visible fadeInLeft'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-accent inviewport animated  animated-delay-600ms animated-duration-1400ms' data-vp-add-class='visible bounceIn'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-primary inviewport animated  animated-delay-1000ms animated-duration-1400ms' data-vp-add-class='visible flipInY'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-success inviewport animated  animated-delay-1400ms animated-duration-1400ms' data-vp-add-class='visible rotateIn'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-warning inviewport animated  animated-delay-1800ms animated-duration-1400ms' data-vp-add-class='visible zoomIn'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-info inviewport animated  animated-delay-2000ms animated-duration-1400ms' data-vp-add-class='visible flipInX'></i>
                            <i class='fa fa-rocket icon-lg icon-rounded icon-danger inviewport animated  animated-delay-2400ms animated-duration-1400ms' data-vp-add-class='visible rotateIn'></i>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- MAIN CONTENT AREA ENDS -->
    </div>
</section>
<!-- END CONTENT -->
