
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START CONTENT -->
<section id="main-content" class=" ">
    <div class="wrapper main-wrapper row" style=''>

        <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START -->
                    <h1 class="title">Timeline Left Aligned</h1>
                    <!-- PAGE HEADING TAG - END -->
                </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="~/Dashboard/Indexdashboard"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="~/CenteredTimeline/Index">Ui Elements</a>
                        </li>
                        <li>
                            <a href="~/CenteredTimeline/Index">Timeline</a>
                        </li>
                        <li class="active">
                            <strong>Left Aligned timeline</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Timeline (Left Style)</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">

                            <!-- start -->

                            <div class="timeline2-centered">

                                <div class="timeline2-entry">

                                    <div class="timeline2-entry-inner">

                                        <div class="timeline2-icon bg-success">
                                            <i class="fa fa-tint"></i>
                                        </div>

                                        <div class="timeline2-label">
                                            <h2><a href="#"><strong>Art Ramadani</strong></a> <span>posted a status update</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro incidunt ipsam animi dolore nulla facilis ad beatae mollitia consequuntur voluptas, distinctio excepturi nesciunt, sequi fugiat rerum, numquam minima voluptate voluptatem.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="timeline2-entry">

                                    <div class="timeline2-entry-inner">

                                        <div class="timeline2-icon bg-secondary">
                                            <i class="fa fa-suitcase"></i>
                                        </div>

                                        <div class="timeline2-label">
                                            <h2><a href="#"><strong>Job Meeting</strong></a></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro incidunt ipsam animi dolore nulla facilis ad beatae mollitia consequuntur voluptas, distinctio excepturi nesciunt, sequi fugiat rerum, numquam minima voluptate voluptatem.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="timeline2-entry">

                                    <div class="timeline2-entry-inner">

                                        <div class="timeline2-icon bg-info">
                                            <i class="fa fa-dashboard"></i>
                                        </div>

                                        <div class="timeline2-label">
                                            <h2><a href="#"><strong>Arlind Angelo</strong></a> <span>checked in at</span> <a href="#">Laborator</a></h2>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro incidunt ipsam animi dolore nulla facilis ad beatae mollitia consequuntur voluptas, distinctio excepturi nesciunt, sequi fugiat rerum, numquam minima voluptate voluptatem.</p>

                                        </div>
                                    </div>

                                </div>

                                <div class="timeline2-entry">

                                    <div class="timeline2-entry-inner">

                                        <div class="timeline2-icon bg-warning">
                                            <i class="fa fa-camera"></i>
                                        </div>

                                        <div class="timeline2-label">
                                            <h2><a href="#"><strong>Kim Nushi</strong></a> <span>changed his</span> <a href="#">Profile Picture</a></h2>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro incidunt ipsam animi dolore nulla facilis ad beatae mollitia consequuntur voluptas, distinctio excepturi nesciunt, sequi fugiat rerum, numquam minima voluptate voluptatem.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="timeline2-entry begin">

                                    <div class="timeline2-entry-inner">

                                        <div class="timeline2-icon">
                                            <i class="fa fa-plus" style="color: #cccccc;position: relative;top: 3px;"></i>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- end -->

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- MAIN CONTENT AREA ENDS -->
    </div>
</section>
<!-- END CONTENT -->
